body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Oxanium';
    background: #4a518d;
}
.form{
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px #383333;
    color: #383333;
}
.input::placeholder{
    color: #383333;
    font-family: inherit;
}
.btn{
    background: #4a518d;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: inherit;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.9);
}
.score{
    color: #383333;
    text-align: right;
}